body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .table-input {
            width: 100%;
        }

        .input-table > div {
            display: flex;
        }

        table {
            width: 100%;
        }

        .w-full {
            padding: 1em;
        }

        footer {
            display: flex;
            margin-top: auto;
            height: 4em;
            background: rgb(19, 18, 18);
            color: #fff;
        }

        footer > p {
            margin: auto;
        }
